<div class="{{ componentVariation }}" data-editable="subheader" data-uri="{{default _ref _self}}" id={{link}}>
  <span class="{{css}}">{{{text}}}</span>

  {{#if text}}
  <a href="#{{link}}" class="{{cssclass}}">
    {{{ read 'public/media/components/subheader/icon-link.svg' }}}
  </a>
  {{/if}}
</div>
