<div class="{{ componentVariation }}" data-editable="subheader" data-uri="{{default _ref _self}}" id={{subheaderid}}>
  <p class="{{css}}">
    {{{text}}}
    {{#if text}}
    <a href="#{{subheaderid}}" class="{{iconcss}}">
      {{{ read 'public/media/components/subheader/icon-link.svg' }}}
    </a>
    {{/if}}
  </p>
</div>
