<div data-uri="{{ default _ref _self }}" class="{{componentVariation}} {{ pageType }}">
  <div class="heading-wrapper">
    <a class="logo" href="//{{~ concat @root.locals.site.host @root.locals.site.path ~}}">
      <span class="title-logo">
        <span>{{{ read 'public/media/sites/claydemo/logo.svg' }}}</span>
      </span>
    </a>
  </div>
</div>
