{{~ set items 'invisibleTagsCount' 0 ~}}
<div class="tags" data-uri="{{ default _ref _self }}" data-editable="items">
  {{~#if items.length ~}}
    <h2 class="title">Tags:</h2>
    <ul class="tags-list">
      {{! invisible tags first so that pseudo divider element does not appear after the last visible tag }}
      {{~#each items as |tag| ~}}
        {{~#if tag.invisible ~}}
          {{ set ../items 'invisibleTagsCount' (add ../items.invisibleTagsCount 1) }}
          <li class="tags-list-item {{ if @root.locals.edit 'invisible-in-edit-mode' else='invisible' }}">
            <a href="//{{ @root.locals.site.host }}/tags/{{ urlencode (replace tag.text ' ' '-') }}/"
             class="tags-link">{{ tag.text }}</a>
          </li>
        {{~/if~}}
      {{~/each~}}

      {{! visible tags }}
      {{! original nunjucks logic appears less verbose, moved some logic out of tag for clarity }}
      {{~#each items as |tag| ~}}
        {{~#unless tag.invisible ~}}
          {{ set 'encodedTag' (replace (urlencode (replace (trim (lowercase tag.text)) ' ' '-')) "%2F" "/") }}
          <li class="tags-list-item{{~#ifAll (compare (subtract @index ../items.invisibleTagsCount) '>' 3) (compare (subtract ../items.length ../items.invisibleTagsCount) '>' 4)}} hidden{{/ifAll~}}">
            <a aria-label="More articles tagged {{ tag.text }}" href="//{{ @root.locals.site.host }}/tags/{{ encodedTag }}/"
              class="tags-link">{{ tag.text }}</a>,
          </li>
        {{~/unless~}}
      {{~/each~}}

      {{~#if (compare (subtract items.length items.invisibleTagsCount) '>' 4) ~}}
        <li class="tags-list-item">
          <a aria-label="More tags" class="tags-link more" href="#">More</a>
        </li>
      {{~/if~}}
    </ul>
  {{~/if~}}
</div>
