<div data-uri="{{ default _ref _self }}" class="footer">
  <div class="logo-wrapper" data-editable="settings">
    {{#if siteLogo}}
    <a class="logo" href="{{ logoUrl }}">
      {{{ siteLogo }}}
    </a>
    {{/if}}
    <div>
      <ul class="links">
        {{#each navegationLinks}}
        <li class="link-item">
          <a href="{{ url }}">{{ text }}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div data-editable="socialMediaLinks">
    {{#each socialMediaLinks}}
        <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="nonzero"><circle fill="#000" cx="19" cy="19" r="19"></circle><path d="M20.788 28.998V19.42h3.538l.532-3.734h-4.07v-2.383c0-1.08.33-1.817 2.036-1.817H25v-3.34A32.453 32.453 0 0 0 21.832 8c-3.138 0-5.285 1.74-5.285 4.934v2.753H13v3.735h3.547V29h4.24v-.002z" fill="#FFF"></path></g></svg>
    {{/each}}
  </div>
</div>
