<div data-uri="{{ default _ref _self }}" class="footer">
  <div class="logo-wrapper" data-editable="settings">
    {{#if siteLogo}}
    <a class="logo" href="{{ logoUrl }}">
      {{{ siteLogo }}}
    </a>
    {{/if}}
    <div>
      <ul class="links">
        {{#each navegationLinks}}
        <li class="link-item">
          <a href="{{ url }}">{{ text }}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
