<div data-uri="{{ default _ref _self }}" class="footer">
  <div class="footer-settings-wrapper" data-editable="settings">
     {{#if logoUrl }}
      <a class="footer-logo" href="{{ logoUrl }}">
        {{#if svgLogo }}
          {{{ svgLogo }}}
        {{else}}
          {{{ read (concat 'public/media/sites/' @root.locals.site.slug '/logo.svg') }}}
        {{/if}}
      </a>
    {{/if}}
    {{#if navegationLinks.length}}
      <div class="links-wrapper">
        <ul class="links">
          {{#each navegationLinks}}
            <li class="link-item">
              <a href="{{ url }}">{{ text }}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>

  <div class="" data-editable="socialMediaNetworks">
    {{#each socialMediaNetworks}}
      <button data-handle="{{ url }}" class="social-media-circle social-media-btn {{ socialMediaNetwork }}">
        {{#if icon}}
          {{{ icon }}}
        {{else}}
          {{{ read (concat 'public/media/sites/' @root.locals.site.slug '/' socialMediaNetwork '.svg') }}}
        </a>
      {{/if}}
    {{/each}}
  </div>
</div>
