<div data-uri="{{ default _ref _self }}" class="footer">
  <div class="footer-settings-wrapper" data-editable="settings">
    {{#if siteLogo}}
    <a class="logo" href="{{ logoUrl }}">
      {{#if siteLogo }}
        {{{ siteLogo }}}
      {{else}}
        {{{ read (concat 'public/media/sites/' @root.locals.site.slug '/logo.svg') }}}
      {{/if}}
    </a>
    {{/if}}
    {{#if navegationLinks.length}}
      <div class="links-wrapper">
        <ul class="links">
          {{#each navegationLinks}}
            <li class="link-item">
              <a href="{{ url }}">{{ text }}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>

  <div class="socialMediaLinks" data-editable="socialMediaLinks">
    {{#each socialMediaLinks}}
      <button data-handle="{{ url }}" class="follow_circle socialmedia-link {{ socialMediaNetwork }}">
        {{#if icon}}
          {{{ icon }}}
        {{else}}
          {{{ read (concat 'public/media/sites/' @root.locals.site.slug '/' socialMediaNetwork '.svg') }}}
        {{/if}}
      </button>
    {{/each}}
  </div>
</div>
