<div data-uri="{{ default _ref _self }}" data-editable="settings">
  {{#if pubDate }}<span>{{ pubDate }}</span>{{/if}}
  {{#if title }}<{{size}}>{{title}}</{{size}}>{{/if}}
  {{#if pageTitle }}<p>{{ pageTitle }}</p>{{/if}}
  {{#if manualPageTitle }}<p>{{ manualPageTitle}}</p>{{/if}}
  <span>{{ users }}</span>
</div>
