<div data-uri="{{ default _ref self }}" class="container-two-column">
  <style>
    {{#if css}}
      {{{css}}}
    {{/if}}

    {{#if background}}
    .container-two-column[data-uri="{{ default _ref _self }}"] {
      background-image: url({{ background }});
      background-repeat: no-repeat;
    }
    {{/if}}
    .container-two-column[data-uri="{{ default _ref _self }}"] .container-two-column-wrapper {
      max-width: {{ concat wrapperMaxWidth "px" }};
      align-items: {{ alignment }};
      padding: {{ concat spacingVal "px" }} 20px;
    }
  </style>

  <div class="container-two-column-wrapper">
    <div class="container-two-column-left container-two-column-left_{{ratio}}" data-editable="left">
      {{> component-list left }}
    </div>
    <div class="container-two-column-right container-two-column-right_{{ratio}}" data-editable="right">
      {{> component-list right }}
    </div>
  </div>
</div>
